@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.container {
  width: 64rem;
  max-width: 100%;
  margin: 0 auto;
}

/* Header */
.header {
  background-color: #203040;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 1rem;
}

.nav-bar a {
  text-decoration: none;
  color: #ffffff;
}

.nav-bar h2 {
  font-size: 2.5rem;
}

.nav-bag {
  display: flex;
  align-items: center;
  position: relative;
}

.bag-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.2rem;
  left: 0.9rem;
  color: #203040;
  font-size: 1rem;
  font-weight: 700;
}

/* Main */

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #a1a1a1;
}

/* NotFound */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #555555;
  min-height: 80vh;
}

.not-found h2 {
  font-size: 3.5rem;
}

.not-found p {
  font-size: 1.5rem;
}
