@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html {
  background-color: #f1f1f1;
}

.container {
  width: 64rem;
  max-width: 100%;
  margin: 0 auto;
  background-color: #e1e1e1;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  background-color: #203040;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  padding: 0 1rem;
  background-color: #203040;
}

.nav-bar a {
  text-decoration: none;
  color: #ffffff;
}

.nav-bar h2 {
  font-size: 2.5rem;
}

.nav-bag {
  display: flex;
  align-items: center;
  position: relative;
}

.bag-quantity {
  position: absolute;
  top: 1.2rem;
  left: 0.7rem;
  color: #203040;
  font-size: 1rem;
  font-weight: 700;
}

/* Main */
.home-container {
  padding: 2rem 4rem;
  margin-top: 6.5rem;
}

.home-container h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}

.banners {
  height: 10rem;
  background-color: #a1a1a1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banners p {
  font-size: 4rem;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.product {
  background-color: #f1f1f1;
  width: 16rem;
  max-width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.2rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: box-shadow 0.5s;
}

.product:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.product img {
  width: 100%;
  margin: 1rem auto auto;
}

.product h3 {
  font-size: 25px;
  font-weight: 400;
}

.product .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product .details .price {
  font-size: 20px;
  font-weight: 700;
}

.product button,
.product-add-to-cart {
  margin: 2rem auto 0;
  width: 40%;
  height: 40px;
  border-radius: 0.5rem;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #203040;
  color: #ffffff;
  letter-spacing: 1.15px;
  transition: box-shadow 0.5s;
}

.product-add-to-cart {
  width: auto;
  padding: 0 2rem;
  margin-top: 0;
}

.product button:hover,
.product-add-to-cart:hover {
  background-color: #a1a1a1;
  color: #010101;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Cart */
.cart-container {
  padding: 2rem 4rem;
  margin-top: 8.5rem;
}

.cart-container h2 {
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
}

.cart-container .titles {
  margin: 2rem 0 1rem 0;
}

.cart-container .titles h3 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}

.cart-container .titles .title {
  padding-left: 0.5rem;
}

.cart-container .titles .quantity {
  justify-self: center;
}

.cart-container .titles .total {
  padding-right: 1.2rem;
  justify-self: right;
}

.cart-item .cart-product {
  display: flex;
}

.cart-item .cart-product img {
  width: 12rem;
  max-width: 100%;
  margin-right: 1rem;
}

.cart-item .cart-product h3 {
  font-weight: 400;
}

.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: grey;
}

.cart-item .cart-product button:hover {
  color: black;
}

.cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 8rem;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 0.5rem;
}

.cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

.cart-product-quantity .count {
  padding: 0.7rem 0;
}

.cart-product-quantity {
  justify-self: center;
}

.cart-product-total-price {
  justify-self: right;
  padding-right: 0.5rem;
  font-weight: 700;
}

/* Cart summary */
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}

.cart-summary .clear-cart {
  width: 8rem;
  max-width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(177, 177, 177);
  color: grey;
  outline: none;
  background: none;
  cursor: pointer;
}

.cart-checkout {
  width: 17rem;
  max-width: 100%;
}

.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}
.cart-checkout .subtotal .amount {
  font-weight: 700;
}

.cart-checkout p {
  font-size: 1rem;
  font-weight: 200;
  margin: 0.5rem 0;
}

.cart-checkout button {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #203040;
  color: #ffffff;
  letter-spacing: 1.15px;
}

.cart-checkout button:hover {
  background-color: #a1a1a1;
}

.start-shopping,
.continue-shopping {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.start-shopping a,
.continue-shopping a {
  color: grey;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.start-shopping a span,
.continue-shopping a span {
  margin-left: 0.5rem;
}

.cart-empty {
  font-size: 1.25rem;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Admin */
.link-active {
  color: #4b70e2;
  border-left: 3px solid #4b70e2;
  padding-left: 5px;
  border-radius: 2px;
}

.link-inactive {
  color: rgb(97, 97, 97);
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #a1a1a1;
  background-color: #f1f1f1;
}

/* NotFound */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #555555;
  min-height: 80vh;
}

.not-found h2 {
  font-size: 3.5rem;
}

.not-found p {
  font-size: 1.5rem;
}

/* Responsive */

@media (max-width: 665px) {
  /* NavBar */
  .nav-bar {
    padding: 0 1rem;
  }
  .nav-bar h2 {
    font-size: 30px;
  }

  /* Cart */
  .cart-container {
    padding: 2rem;
  }
  .cart-container .titles {
    display: none;
  }
  .cart-item,
  .cart-container .titles {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .cart-item .cart-product-total-price {
    justify-self: left;
  }
  .cart-summary {
    flex-direction: column;
  }
  .cart-summary .clear-btn {
    margin-bottom: 2rem;
  }
}
